<section class="article-layout {{ style }}">
  <article>
    <h2>Adconnect</h2>
    <p>
      Jaarlijks reikt het Overlegplatform de Ad Talent Award uit aan twee Associate degree-talenten, die worden benoemd
      tot landelijke Ad-ambassadeurs. Alle aangesloten hogescholen kunnen een Ad-talent nomineren. De winnaars ontvangen
      de award tijdens de jaarlijkse Ad-dag en vertegenwoordigen het Ad-onderwijs in Nederland.
    </p>
    {% include './partials/link.liquid', link: '#', text: 'Lees meer', style: 'primary-button' %}
    <figure>
        <img src="https://adconnect.dev.fdnd.nl/_app/immutable/assets/ad-talent-awards.Ddt_57AT.jpg" alt="banner">
    </figure>
  </article>
</section>
